/* Base */
@define-color wb_panel_color rgba(0,0,0,0.8);
@define-color wb_font_color white;
@define-color wb_inactive_color dimgray;
@define-color wb_special_color gold;

/* Coursor */
@define-color wb_active_color white;
@define-color wb_empty_color transparent;
@define-color wb_notification_color #ff9900;
@define-color wb_visible_color #444444;

/* Battery */
@define-color wb_warning_color #ff9900;
@define-color wb_crit_color #ff5050;
@define-color wb_charging_color #0099ff;

/* Init globals */
* {
  border: none;
  border-radius: 0px;
  font-family: "IBM 3270";
  font-size: 12px;
  background: none;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  transition: none;
  text-shadow: none;
}

/* Panel */
window#waybar {
  background: @wb_panel_color;
}

/* All elements */
#workspaces button,
#window,
#clock,
#battery,
#language,
#pulseaudio,
#tray,
#tray menu menuitem {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 0px;

  border-top: 2px solid transparent; /* default value */
  color: @wb_font_color;
  font-weight: bold;
}

/* Workspaces tags */
#workspaces button {
}

#workspaces button.empty {
  color: @wb_inactive_color;
}

#workspaces button.visible {
  border-top: 2px solid @wb_visible_color;
} 

#workspaces button.active {
  border-top: 2px solid @wb_active_color;
}

#workspaces button.urgent {
  border-top: 2px solid @wb_notification_color;
} 

#workspaces button.special {
  color: @wb_special_color;
} 

/* Current window name */
#window {

}

window#waybar.empty #window {
}

/* Other */
#pulseaudio {
}

#pulseaudio.muted {
  border-top: 2px solid @wb_warning_color;
}

#battery {
}

#battery.warning {
  border-top: 2px solid @wb_warning_color;
}

#battery.critical {
  border-top: 2px solid @wb_crit_color;
}

#battery.charging {
  border-top: 2px solid @wb_charging_color;
}

#clock {
}

#tray {
  border-top: none;
}

#tray menu {
  background-color: @wb_panel_color;
}

#tray menuitem {
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

#tray menuitem:hover {
  border-right: 2px solid @wb_active_color;
  border-left: 2px solid @wb_active_color;
}

