@define-color panel_color rgba(0,0,0,0.7);
@define-color empty_color DimGray;
@define-color accent_color rgba(0,0,0,1);
@define-color notification_color #800000;


* {
    border: none;
    border-radius: 0px;
    font-family: "IBM 3270";
    font-size: 12px;
    background: none;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
}

/* All elements */
#workspaces button, #window, #clock, #battery, #language, #pulseaudio, #tray, #tray menu menuitem {
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    margin-left: 3px;
	background: black;
    padding-top: 2px;
    font-weight: bold;
	color: white;
}

/* Whole window */
#waybar {
    background: @panel_color;
}

/* Workspaces tags */
#workspaces button {
}

#workspaces button.empty {
    background: rgba(0,0,0,1);
	color: @empty_color;
}

#workspaces button.active {
    background: @accent_color;
	box-shadow: 0px 0px 3px 1px white;
}

#workspaces button.urgent {
	box-shadow: 0px 0px 3px 1px @notification_color;
} 

/* Current window name */
#window {
    padding-right: 8px;
    padding-left: 8px;
    background: @accent_color;
}

window#waybar.empty #window {
    background: transparent;
}

#pulseaudio {
}

#pulseaudio.muted {
    font-weight: bold;
}

#battery {
}

#battery.warning {
    box-shadow: 0px 0px 3px 1px #ff9900;
}

#battery.critical {
    box-shadow: 0px 0px 3px 1px #ff5050;
}

#battery.charging {
    box-shadow: 0px 0px 3px 1px #0099ff;
}

#clock {
}


#tray menu {
	background-color: @panel_color;
	color: white;
    border-radius: 0px;
	padding: 3px;
	margin: 3px;
}

#tray menu menuitem:hover {
	color: white;
	box-shadow: 0px 0px 3px 1px white;
}
