/* Base */
@define-color wb_panel_color rgba(0, 0, 0, 1.0);
@define-color wb_font_color #ffffff;
@define-color wb_inactive_color #707070;
@define-color wb_special_color #ffd700;

/* Coursor */
@define-color wb_active_color #ffffff;
@define-color wb_empty_color transparent;
@define-color wb_notification_color #ff9900;
@define-color wb_visible_color #707070;

/* Battery */
@define-color wb_warning_color #ff9900;
@define-color wb_crit_color #ff5050;
@define-color wb_charging_color #0099ff;

/* Init globals */
* {
	border: none;
	border-radius: 0px;
	font-family: "serif";
	font-size: 12px;
	background: none;
	min-height: 0px;
	min-width: 0px;
	padding: 0px;
	margin: 0px;
	transition: none;
	text-shadow: none;
}

/* Panel */
window#waybar {
	background: @wb_panel_color;
}

/* left elements */
#workspaces button,
#window {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;

	border-top: 1px solid transparent; /* default value */
	border-bottom: 1px solid transparent;
	color: @wb_font_color;
	font-weight: bold;
}

/* right elements */
#custom-branding-module,
#custom-date-module,
#clock,
#battery,
#language,
#wireplumber,
#bluetooth,
#tray,
#tray menu menuitem {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;

	border-top: 1px solid transparent; /* default value */
	border-bottom: 1px solid transparent;
	color: @wb_font_color;
	font-weight: bold;
}

/* Workspaces tags */
#workspaces button {
}

#workspaces button.empty {
	color: @wb_inactive_color;
}

#workspaces button.visible {
	border-bottom: 1px solid @wb_visible_color;
}

#workspaces button.active {
	border-bottom: 1px solid @wb_active_color;
}

#workspaces button.urgent {
	border-bottom: 1px solid @wb_notification_color;
} 

#workspaces button.special {
	color: @wb_special_color;
} 

/* Other */
#wireplumber {
}

#wireplumber.muted {
	border-bottom: 1px solid @wb_warning_color;
}

#battery {
}

#battery.warning {
	border-bottom: 1px solid @wb_warning_color;
}

#battery.critical {
	border-bottom: 1px solid @wb_crit_color;
}

#battery.charging {
	border-bottom: 1px solid @wb_charging_color;
}

#custom-date-module {
}

#clock {
}

#tray {
	border-bottom: none;
}

#tray menu {
	background-color: @wb_panel_color;
}

#tray menuitem {
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}

#tray menuitem:hover {
	border-right: 1px solid @wb_active_color;
	border-left: 1px solid @wb_active_color;
}

tooltip label{
	color: @wb_active_color;
	font-weight: bold;
	text-shadow: 0px 0px 2px black;
}
